= javascript_include_tag "loader"
.content-grafic
  %h3.title-chart
    ="Comentarios por Categoría"
  = column_chart PostComment.cant_for_category, colors: ["#12bc99"], height: "300px",  library:{legend: {position: "bottom"}, chartArea: {left:0, width:'100%', height: '70%'}, tooltip: {textStyle: {color: "#333333"}}}
  %hr
  .link-list
    = link_to "Ver Categorías", admin_categories_path
    .left-element
      = @date_hour
      = image_tag("refresh.png", :border => 0, :alt => '', :title => '', :style => "width: 10%; cursor: pointer;", :onclick => "refresh_grafic(1);")