= javascript_include_tag "loader"
.row.info-cant
  .col-sm-6{style: 'color: #06bfa7'}
    = PostComment.categorized
  .col-sm-6{style: 'color: #ff3939'}
    = PostComment.uncategorized
.row.info-leyend
  .col-sm-6
    = "COMENTARIOS CATEGORIZADOS"
  .col-sm-6
    = "COMENTARIOS SIN CATEGORIZADOS"