%div{:class => "panel panel-post shadow-box js-post", :id => "#{p.id}"}
  .panel-heading
    .row
      %img.col-sm-3.img-responsive{:alt => "Image", :src => "#{p.post_creator.try(:avatar) || '/assets/default-user.png'}", class: "img-circle", :style => "width:18%"}/
      .col-sm-8.position-title
        =link_to p.post_creator.try(:fan_page), edit_admin_post_path(p), class:"text-blue name-post"
        %br
        .text-date-post=p.try(:post_date)&.strftime('%d de %b de %Y a las %l:%M')
      .col-sm-1
        %div{:class => "element-menu js-menu", :id => "js-post-menu-#{p.id}"}
          .punto
          .punto
          .punto
        %div.menu-dropdown{:id => "menu-dropdown-#{p.id}", :style => "display:none;"}
          %ul
            %li=link_to "Editar publicación", edit_admin_post_path(p)
            %li=link_to "Eliminar publicación", edit_admin_post_path(p)
    .row
      .title-post-style{:title => "#{p.try(:title).upcase}"}
        = p.try(:title).upcase.truncate 20
      -if p.try(:description).present?
        - if p.description.size > 30
          .text-post-style{:description => "#{p.try(:description).upcase}", :id => "js-text-truncate-#{p.id}"}
            = p.try(:description).upcase.truncate 80
          .text-post-style.hidden{:description => "#{p.try(:description).upcase}", :id => "js-text-complete-#{p.id}"}
            = p.try(:description).upcase
          .see-more-label{:onclick => "see_more(#{p.id});"}Ver mas
        - else
          %div{:style => "margin: 20px 0px 10px 17px;"}
            = p.try(:description).upcase
      -else
        .text-post-style=""
  .panel-body
    -if p.image.present? 
      = link_to admin_post_path(p) do
        %img.img-responsive{:alt => "Image", :src => "#{p.image || 'https://placehold.it/150x80?text=IMAGE'}", :style => "width:100%; height: 250px;"}/
    .row.stadistic-style
      .col-sm-4.text-color-darkgrey.text-medium-bold
        %img.img-responsive{:alt => "Image", :src => asset_url("like_icon.png"), :style => "width:15%; height: 13px; position:absolute; top:5px; left:8px;"}/
        .position-info
          =p.try(:post_reactions).count 
          %br/
          =I18n.t("active_admin.post_reactions")
      .col-sm-4.text-color-darkgrey.text-medium-bold
        %img.img-responsive{:alt => "Image", :src => asset_url("comment.png"), :style => "width:12%; height: 13px; position:absolute; top:5px; left:2px;"}/
        .position-info
          =p.post_comments.count 
          %br/
          =I18n.t("active_admin.post_comments")
      .col-sm-4.text-color-darkgrey.text-medium-bold.padding-uncategorized
        %img.img-responsive{:alt => "Image", :src => asset_url("share.png"), :style => "width:12%; height: 15px; position:absolute; top:5px; left:14px;"}/
        .position-info
          =p.post_shared.count 
          %br/
          =I18n.t("active_admin.post_shared")     
              
%br/
