%div{:class => "panel panel-post shadow-box js-post", :id => "#{p.id}"}
  .panel-heading
    .row
      %img.col-sm-3.img-responsive{:alt => "Image", :src => "#{p.post_creator.try(:avatar) || '/assets/default-user.png'}", class: "img-circle", :style => "width:18%"}/
      .col-sm-8.position-title
        =link_to p.post_creator.try(:fan_page), edit_admin_post_path(p), class:"text-blue name-post"
        %br
        .text-date-post=p.try(:post_date)&.strftime('%d de %b de %Y a las %l:%M')
      .col-sm-1
        %div{:class => "element-menu menu-show-post js-menu", :id => "js-post-menu-#{p.id}"}
          .punto
          .punto
          .punto
        %div.menu-dropdown.dropdown-show-post{:id => "menu-dropdown-#{p.id}", :style => "display:none;"}
          %ul
            %li=link_to "Editar publicación", edit_admin_post_path(p)
            %li=link_to "Eliminar publicación", edit_admin_post_path(p)
    .row
      .title-post-style{:title => "#{p.try(:title).upcase}"}
        = p.try(:title).upcase.truncate 20
      -if p.try(:description).present?
        - if p.description.size > 30
          .text-post-style{:description => "#{p.try(:description).upcase}", :id => "js-text-truncate-#{p.id}"}
            = p.try(:description).upcase.truncate 80
          .text-post-style.hidden{:description => "#{p.try(:description).upcase}", :id => "js-text-complete-#{p.id}"}
            = p.try(:description).upcase
          .see-more-label{:onclick => "see_more(#{p.id});"}Ver mas
        - else
          %div{:style => "margin: 20px 0px 10px 17px;"}
            = p.try(:description).upcase
      -else
        .text-post-style=""
  .panel-body
    = link_to admin_post_path(p) do
      %img#img-post{:alt => "Image", :src => "#{p.image || '/assets/default-image.png'}", :style => "width:100%; height: #{p.try(:description).present? ? '250px' : '302px' };"}/
    .stadistic-style
      .text-color-darkgrey.text-medium-bold.div-info
        %img.icon-post{:alt => "Image", :src => asset_url("like_icon.png")}/
        .position-info
          =p.try(:post_reactions).count 
          %br/
          =I18n.t("active_admin.post_reactions")
      .text-color-darkgrey.text-medium-bold.div-info
        %img.icon-post{:alt => "Image", :src => asset_url("comment.png")}/
        .position-info
          =p.post_comments.count 
          %br/
          =I18n.t("active_admin.post_comments")
      .text-color-darkgrey.text-medium-bold.padding-uncategorized.div-info
        %img.icon-post-share{:alt => "Image", :src => asset_url("share.png")}/
        .position-info
          =p.post_shared.count 
          %br/
          =I18n.t("active_admin.post_shared")    
              
%br/
