%table#post_comments_index_table.index_table.index{:border => "0", :cellpadding => "0", :paginator => "true"}
  %thead
    %tr
      %th.col.col-setting
      %th.col.col-comment=I18n.t("active_admin.comment")
      %th.col.col-facebook_user=I18n.t("active_admin.user")
      %th.col.col-date=I18n.t("active_admin.date")
      %th.col.col-category{:width => "15%"}=I18n.t("active_admin.category")
  %tbody
    - q.each do |pc|
      %tr{:id => "comment_#{pc.id}"}
        %td.col.col-setting
          %label.check-container
            %input{:type => "checkbox", :id => pc.id, :data => {:cat_id => pc.category.id}}/
            %spa.checkmark{:id => "checkmark-#{pc.id}"}
        %td.col.col-comment= pc.comment
        %td.col.col-facebook_user.text-blue{:style => "font-weight: bold"}
          %img.col-sm-3.img-responsive{:alt => "Image", :src => "#{pc.facebook_user.try(:fb_avatar) || '/assets/default-user.png'}", class: "img-circle", :style => "width:80%"}/
          = pc.facebook_user.fb_name
        %td.col.col-date= pc.date
        %td.col.col-category
          %p{class: "#{pc.category.try(:name).upcase == 'UNCATEGORIZED' ? 'color-border-select-red' :  'color-border-select'}", id: "p-category-#{pc.id}", onmouseover: "see_select(#{pc.id})"}= pc.category.try(:name).upcase
          = select_tag "category-#{pc.id}", options_for_select(@categorias, pc.category_id), onchange: "update(#{pc.id}, this.value)", onmouseout: "see_select(#{pc.id})", class: "table_tools dropdown_menu_button #{pc.category.try(:name).upcase == 'UNCATEGORIZED' ? 'color-border-select-red' :  'color-border-select'} hidden"

:javascript
  $("#post_comments_index_table").tableSorter({
      sortColumn: 'comentario',     // número entero del índice o nombre de la columna en minúsculas
      sortClassAsc: 'headerSortUp',   // clase css de la cabecera de la columna cuando aplicamos un orden ascendente
      sortClassDesc: 'headerSortDown',  // clase css de la cabecera de la columna cuando aplicamos un orden descendente
      headerClass: 'header',      // clase genérica de las cabeceras (th's)
      dateFormat: 'dd/mm/yyyy'    // se indica el formato de la fecha no ISO, por defecto us, nosotros indicamos el formato español
    });




